body {
    background-color: #1f1f1f;
    margin: 0;
    margin-top:
    margin-right:
    margin-bottom:
    margin-left:
    font-family: "HelveticaNeue", Helvetica. Arial, sans-serif;
}

#main-page {
    margin: 0px auto;
    margin-top: 0px;
    margin-right: auto
    margin-bottom: 0px;
    margin-left: auto;
    width: 980px;
}
